@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* Color-palette */
    --red: rgb(235, 69, 95);
    --white: rgb(252, 255, 231);
    --blue: rgb(188, 215, 233);
    --navy: rgb(43, 52, 103);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: var(--navy);
    color: var(--white);
    padding: 2rem;
    grid-row: span 2;
    display: grid;
    align-content: start;
    gap: 5rem;
}

.sidebar > div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 1.4rem;
}

.sidebar > div > svg {
    fill: var(--white);
    height: 1.4rem;
    width: auto;
}

.sidebar > div:first-child {
    font-size: 2rem;
    display: flex;
}

.sidebar > div:first-child > svg {
    height: 3rem;
    width: auto;
}

.header {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 3rem 1rem 3rem;
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.4);
    column-gap: 3rem;
    white-space: nowrap;
}

.header > div {
    display: grid;
    align-items: center;
}

.search {
    grid-template-columns: minmax(3rem, 0.5fr) 10fr;
}

.search > svg {
    height: 2rem;
    width: auto;
}

input[type="search"] {
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 2rem;
    background-color: var(--blue);
    padding-left: 1rem;
    font-size: 1rem;
}

.user {
    grid-template-columns: 1fr 0.2fr 1fr;
    justify-content: center;
    gap: 2rem;
}

.user > a:first-child {
    justify-self: end;
}

.user > a > svg {
    height: 2rem;
}

.user > a > img {
    height: 4rem;
    width: auto;
}

.welcome {
    grid-template-columns: 1fr 10fr;
    gap: 0.5rem;
}

.buttons {
    grid-template-columns: 1fr 0.2fr 1fr;
    justify-items: center;
    gap: 0.5rem;
}

.buttons > button {
    background-color: var(--navy);
    color: var(--white);
    font-size: 1.2rem;
    border: none;
    border-radius: 3rem;
    width: 7rem;
    height: 2.5rem;
}

.buttons > button:hover {
    background-color:  rgb(43, 52, 103, 0.8);
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects, .highlights {
    padding: 2rem;
    height: 90%;
}

.projects > h3, .highlights > div > h3 {
    margin-bottom: 0.5rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.card {
    position: relative;
    height: 13rem;
    width: auto;
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    border-left: 0.8rem solid var(--red);
}

.card > div > svg {
    height: 1.5rem;
}

.card > div:last-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-self: end;
}

.highlights {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.announce-box, .trending-box {
    width: max(15rem, 100%);
    display: flex;
    flex-direction: column;
}

.card, .announce-box > div, .trending-box > div {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.4);
}

.announce-box > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 0.9rem;
}

.announce-box > div > a:nth-child(2) {
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.trending-box > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trending-box > div > a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.trending-box > div > a > img {
    height: 80%;
}

.card:hover {
    top: -2px;
}